.SectionTitle {
    border-left: 10px solid #006c90;
    padding: 15px;
    background: #006c9025;
    margin-bottom: 40px;
}

.SectionTitle h3 {
    margin: 0;
    margin-bottom: 5px;
    font-size: 2rem;
    font-weight: 200;
}